@import "@radix-ui/colors/black-alpha.css";
@import "@radix-ui/colors/mauve.css";
@import "@radix-ui/colors/indigo.css";

/* reset */
a,
button {
    all: unset;
}

.ToolbarRoot {
    display: flex;
    padding: 10px;
    min-width: max-content;
    background-color: white;
}

.ToolbarToggleItem,
.ToolbarLink,
.ToolbarButton {
    flex: 0 0 auto;
    color: var(--mauve-11);
    height: 25px;
    padding: 0 5px;
    border-radius: 4px;
    display: inline-flex;
    font-size: 13px;
    line-height: 1;
    align-items: center;
    justify-content: center;
}
.ToolbarToggleItem:hover,
.ToolbarLink:hover,
.ToolbarButton:hover {
    background-color: var(--indigo-3);
    color: var(--indigo-11);
    cursor: pointer;
}
.ToolbarToggleItem:focus,
.ToolbarLink:focus,
.ToolbarButton:focus {
    position: relative;
    box-shadow: 0 0 0 2px var(--indigo-7);
}

.ToolbarToggleItem {
    background-color: white;
    margin-left: 2px;
}
.ToolbarToggleItem:first-child {
    margin-left: 0;
}
.ToolbarToggleItem[data-state="on"] {
    background-color: var(--indigo-5);
    color: var(--indigo-11);
}

.ToolbarSeparator {
    width: 1px;
    background-color: var(--mauve-6);
    margin: 0 10px;
}

.ToolbarLink {
    background-color: transparent;
    color: var(--mauve-11);
    display: none;
    justify-content: center;
    align-items: center;
}
.ToolbarLink:hover {
    background-color: transparent;
    cursor: pointer;
}
@media (min-width: 520px) {
    .ToolbarLink {
        display: inline-flex;
    }
}

.ToolbarButton {
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    background-color: var(--indigo-9);
}
.ToolbarButton:hover {
    background-color: var(--indigo-10);
    color: white;
}

.ToolbarToggleItem:disabled,
.ToolbarLink:disabled,
.ToolbarButton:disabled {
    cursor: not-allowed;
    color: var(--gray-7);
}
